<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to admin page</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/font/flaticon.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans|Josefin+Sans"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Online Exam" />
    <meta
      name="author"
      content="Sukanya Ledalla, Akhil Regonda, Nishanth Kadapakonda"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="oq-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="">
              <a href="/"><img src="/images/quiz.png" class="oq-logo" /></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="oq-userArea pull-right">
              <span class="oq-username"> Administrator </span>
              <a class="oq-btn" href="/auth/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="oq-signupBody">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-md-6">
                <span class="oq-testsHeadText">  </span>
              </div>
              <div class="col-md-3">
                <div class="text-center">
                  <!-- <a href="savetest.php?test=<?php echo $test;?>" class="oq-btn">View the quiz</a> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="pull-right">
                  <a href="/" class="oq-addbtn">Back</a>
                </div>
              </div>
            </div>
            <div class="oq-signup text-center">
              
              <span class="oq-signupHead">Update User Details</span><br /><br />

              <span class="oq-error">
                <% if (errors && errors.length > 0) { %>
                  <% errors.forEach(error => { %>
                    <%= error.msg %><br>
                  <% }); %>
                <% } %>
              </span>
              <br /><br />


<form class="form" action="/user/edit" method="post" id="edit-user-form">
  <input type="hidden" name="user_id" value="<%= userData.user_id %>">
  <input type="text" class="form-control" placeholder="Enter name" name="first_name" value="<%= userData.first_name %>" required /><br />
  <input type="text" class="form-control" placeholder="Enter surname" name="last_name" value="<%= userData.last_name %>" required /><br />
  <input type="text" class="form-control" placeholder="Enter ID Number" name="rsa_id" value="<%= userData.rsa_id %>" required /><br />
  <input type="email" class="form-control" placeholder="Enter Email" name="email" value="<%= userData.email %>" required /><br />
  <input type="tel" class="form-control" name="phone_number" pattern="[0-9]{10}" placeholder="e.g., 0711770423" value="<%= userData.phone_number %>" required /><br />
  <input type="text" class="form-control" placeholder="Enter Address" name="user_address" value="<%= userData.user_address %>" required /><br />
  <input type="password" class="form-control" placeholder="Enter Password" name="password" /><br />
  <input type="password" class="form-control" placeholder="Re-enter password" name="password_retyped" /><br />

  <br />
  <input type="submit" id="edit-user-btn" class="form-control btn btn-primary" value="Update Account" name="update" /><br /><br />
</form>

            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>

  </body>
</html>
